*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #910ed9, #993ce2, #a259ea, #ac71f1, #b688f7, #bb8af9, #bf8dfc, #c48ffe, #c57dfc, #c868f9, #cb4ff4, #d02aed);
}

.logo {

}


.container{
width: 80%;
height: 80vh;
display:flex;
box-shadow: 5px 5px 10px rgba(0,0,0, .212);


}
.form-image{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
    
}
.form{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3 rem;
}

.form-home{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

}
.login-button{
    display: flex;
    align-items:center;

}

.login-button button{
    border:none;
    background-color: #6c63ff; 
    padding: 0.4rem 1 rem;
    border-radius:5px;
    cursor: pointer


}

.continue-button:hover {
    background-color: #6b63fff1;
}
.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify content: space-between;
    padding: 1rem 0;
}
    
  
.input-box{
 display: flex;
 flex direction: column;
 margin-bottom: 1.1rem;


}


.input-box input :hover{
    background-color: #eeee75
}

.input.box input: focus-visible{
    outline:1px solid #6c63ff;

}

.input.box label,
.gender-title h6{
 font-size: 0.75rem;
 font-weight: 600;
 color: #00000c0
}

.gender-input label{
    font-size: 0.81rem;
    font-weight:600;
    color: #000000c0
}

.continue-button button {

    width: 100%;
    margin-top:2.5rem;
    border:none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius:5px;
    cursor: pointer
}


@media screen and (max-width:1330px) {
    .form-image{
        display: none;

    }
    .container{
        width: 50%;
    }

    .form{
        width:100%
    }
}
@media screen and (max-width: 1064px){
    .container{
        width: 90%;
        height: auto;
    }

    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    
}